<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Курс Обміну Місцевої Валюти</title>
    <meta property="og:url" content="https://actual-exchange.netlify.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Курс Обміну Місцевої Валюти" />
    <meta property="og:description" content="Обмін Актуальних Валют" />
    <meta property="og:image" content="https://actual-exchange.netlify.com/main.png" />

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./select.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <h1>Обмін Актуальних Валют</h1>
      <div class="row">
        <div class="col s12">
          <h5>В мене є:</h5>
          <div class="input-field">
            <select v-model="convertFrom">
              <option v-for="(item, index) in goodsFrom" v-bind:value="item.name">{{item.desc}}</option>
            </select>
          </div>
        </div>

        <div class="col s12">
          <h5>В кількості:</h5>
          <input type="number" min="0" v-model.number="quantity" placeholder="Введіть Кількість" />
        </div>
        <div class="col s12">
          <h5>Мені потрібно:</h5>
          <div class="input-field">
            <select v-model="convertTo">
              <option v-for="(item, index) in goodsFrom" v-bind:value="item.name">{{item.desc}}</option>
            </select>
          </div>
          <h5>Я отримаю: {{convertTo}} - {{resultQuantity}}</h5>
        </div>
      </div>
    </div>

    <div id="button" class="col s12">
      <div class="fb-share-button" data-href="https://actual-exchange.netlify.com/" data-layout="button" data-size="large">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Factual-exchange.netlify.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поширити</a>
      </div>
    </div>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v6.0&appId=2038599119568643&autoLogAppEvents=1"></script>
    <script src="./index.js"></script>
  </body>
</html>
